{% extends "todo/main.html" %} {% block content %}

<div class="form-body">
  <h1>Register</h1>

  <form method="POST">
    {% csrf_token %}
    <label> {{form.usename.label}}</label>
    {{form.username}}
    <label> {{form.password1.label}}</label>
    {{form.password1}}
    <label> {{form.password2.label}}</label>
    {{form.password2}}

    <input
      type="submit"
      value="Register"
      class="button"
      style="margin-top: 10px"
    />
  </form>

  <p>
    Already have an account?
    <a class="bold-icon" href="{% url 'login' %}">Login Here</a>
  </p>
</div>
{% endblock content %}
