{% extends "todo/main.html" %} {% block content %}

<div class="header-line">
  {% if request.user.is_authenticated %}
  <p class="tracking-in-contract user-name">Hello {{request.user}}</p>
  <a clas="log-link" href="{% url 'logout' %}" title="Logout"
    ><i class="fas fa-sign-out-alt"></i
  ></a>
  {% else %}
  <a clas="log-link" href="{% url 'login' %}">Login</a>

  {% endif %}
</div>
<p id="task-count">
  You have <i>{{count}}</i> incomplete task{{count|pluralize}}
</p>
<hr />
<h1 class="headline">My Todo List</h1>
<div class="search-wrapper">
  <form class="search-box">
    <input
      type="text"
      name="search-area"
      value="{{search_input}}"
      placeholder="Type to Search..."
      class="search_input"
      id="search-area"
    />
    <button class="button"><i class="fas fa-search"></i></button>
  </form>
</div>

<div class="task-items-wrapper">
  <h3>Task{{count|pluralize}}</h3>
  {% for task in tasks%}

  <div class="task-wrapper">
    {% if task.complete %}
    <div class="task-title">
      <div class="task-complete-icon"></div>
      <i
        ><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i
      >
    </div>
    <div>
      <a href="{% url 'task-update' task.id%}"
        ><i class="fas fa-check-circle fa-s" style="color: #008000"></i
      ></a>
      <a href="{% url 'task-delete' task.id%}"
        ><i
          class="fas fa-trash-alt"
          style="font-size: 15px; color: red; margin-left: 10px"
        ></i
      ></a>
    </div>

    {% else %}
    <div class="task-title">
      <a href="{% url 'task-update' task.id %}">{{task}}</a>
    </div>
    <div>
      <a href="{% url 'task-update' task.id%}"
        ><i class="far fa-check-circle fa-s" style="color: #008000"></i
      ></a>
      <a href="{% url 'task-delete' task.id%}"
        ><i
          class="fas fa-trash-alt"
          style="font-size: 15px; color: red; margin-left: 10px"
        ></i
      ></a>
    </div>
    {% endif %}
  </div>

  {% empty %}
  <h3>No items in list</h3>
  {% endfor %}
</div>

{% comment %}
<table>
  <tr>
    <th>Tasks</th>
    <th></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>
      {% if task.complete %}
      <div class="task-title">
        <a href="{% url 'task-update' task.id %}"> {{task}}</a>
      </div>
      {% else %}
      <div class="task-title">
        <a href="{% url 'task-update' task.id %}"> {{task}}</a>
      </div>
      {% endif %}
    </td>

    <td>
      {% if task.complete %}
      <a href="{% url 'task-update' task.id%}"
        ><i class="fas fa-check-circle fa-s" style="color: #008000"></i
      ></a>

      {% else %}
      <a href="{% url 'task-update' task.id%}"
        ><i class="far fa-check-circle fa-s" style="color: #008000"></i
      ></a>
      {% endif %}
    </td>

    <td>
      <a href="{% url 'task-delete' task.id%}"
        ><i
          class="fas fa-trash-alt"
          style="font-size: 15px; color: red; margin-left: 10px"
        ></i
      ></a>
    </td>
    <td></td>
  </tr>

  {%empty%}
  <h3>No task in list</h3>
  {% endfor %}
</table>
{% endcomment %}
<div id="add-btn">
  <a href="{%url 'task-create'%}">Add</a>
</div>
{% endblock content %}
