body {
  font-family: "Comic Neue", cursive;
  padding-top: 50px;
  background: #252525;
}

.container {
  max-width: 550px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: #f3f2f2;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

a,
p {
  color: #252525;
}
.task-title {
  font-weight: bold;
  margin-right: 50px;
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-bar {
  padding: 30px;
}
.user-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.headline {
  text-align: center;
}
.search-box {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
#task-count {
  margin-left: 20px;
  margin-top: 0;
}
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}
#search-area {
  width: 30% !important;
}

.button {
  border: 1px solid #252525;
  background-color: #f3f2f2;
  color: #252525;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#add-btn {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 25px;
}

/* task form */
.form-body {
  padding: 30px;
}
.task-items-wrapper {
  margin: 0 50px 0 50px;
}
.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.bold-icon {
  font-weight: bold;
}
